body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffc0cb; 
    font-family: 'YourDesiredFont', sans-serif; 
    color: #333;
}

h1 {
    color: #ff4d6a; 
}

.container {
    text-align: center;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 77, 106, 0.5);
}

#gifContainerImg {
    width: 60%;
    height: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#siBtn {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px; 
    background-color: #ff4d6a; 
    border: 2px solid #ff4d6a; 
}

#noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffa7b6; 
    color: white;
    border: 2px solid #ffa8b6; 
    border-radius: 10px; 
}
#noBtn span {
    font-size: 18px;
    color: #ffffff; 
}

#siBtn:hover{
    background-color: #a5152d;
    border: 2px solid #f3a5b2;
}

#noBtn:hover {
    background-color: #fe7b91;
}

.bg-green {
    background-color: #ffffff; 
}

#messageContainer {
    font-size: 30px;
    color: #ff4d6a; 
    font-family: 'YourDesiredFont', sans-serif; 
    text-shadow: 2px 2px 4px #000 
}
